@charset "UTF-8";
/* CSS Document */

.title {
	color: #00a900;
	font-size: medium;
	font-weight: bold;
}
.partner {
	font-size: medium;
	font-weight: bold;
	color: #23c66;
}
.company {
}
body {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.centered {
	text-align: center;
}
